<h1>My task</h1>

<ul>
    <li>
       <%= check_box_tag "task[#{@task.id}]", @task.completed %> <%= @task.title %> <br>
       <%= @task.details %>
    </li>

    <%= link_to "edit", edit_task_path(@task) %>

    <%= link_to "retour", '/tasks' %>
</ul>
